div.content {

    div.playlistContainer {
        @include flex-grow(1);
        color: lighten(black, 60%);
        font-size: 16px;
        position: absolute;
        left: 300px;
        top: 0;
        right: 0;
        height: 100%;

        div.currentPlaying {
            display: flex;
            @include flex-direction(row);
            padding: 0 20px 0 0;

            div.cover {
                img {
                    height: 150px;
                    width: 150px;
                    border-radius: 5px;
                }
            }

            div.infos {
                @include flex-grow(1);
                padding-left: 10px;
                align-self: center;

                div.title {
                    color: darken(white, 60%);
                    font-weight: 400;
                    font-size: 20px;
                }

                div.controlls {
                    margin-top: 25px;

                    button {
                        width: 80px;
                        margin-right: 10px;
                    }
                }
            }
        }

        div.restPlaylist {
            padding: 0 8px 10px 0;

            div.item {
                display: flex;
                @include flex-direction(row);
                @include transition(color 0.1s ease-out);
                padding-right: 12px;

                &:hover {
                    background: darken(white, 5%);
                }

                div.cover {
                    img {
                        height: 70px;
                        width: 70px;
                        border-radius: 3px;
                    }
                }

                div.infos {
                    @include flex-grow(1);
                    padding-left: 10px;
                    align-self: center;

                    div.title {
                        color: darken(white, 60%);
                        font-weight: 400;
                        font-size: 20px;
                    }
                }

                div.controlls {
                    text-align: center;
                    align-self: center;

                    div {
                        i { margin-top: -10px; }

                        vertical-align: middle;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 12px;
                        height: 16px;
                        cursor: pointer;

                        @include transition(color 0.1s ease-out);
                    }

                    div.like:hover {
                        color: green;
                    }

                    div.dislike:hover {
                        color: red;
                    }

                    div.rating {
                        font-size: 12px;
                    }
                }
            }
        }

    }

    div.panelContainer {
        width: 300px;

        div.header {
            display: flex;
            @include flex-direction(row);
            justify-content: space-around;

            div.tab {
                width: 100%;
                text-align: center;
                border-bottom: 1px solid darken(white, 60%);
                @include transition(all 0.1s ease-out);
                user-select: none;
                cursor: pointer;

                &:hover {
                    background-color: darken(white, 5%);
                }

                &.selected {
                    background-color: darken(white, 10%);
                }

            }
        }

        div.body {

        }
    }
}
