a.button, input, button, textarea, select {font-family: inherit; font-size: inherit; -webkit-box-sizing: border-box;
                                           -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
a.button, input[type='button'], button, select, label { cursor: pointer; }
a.button, input, select, textarea, button { outline: none; border: 2px solid #a6a6a6; padding: 5px; font-size: 16px; font-weight: 300; }
a.button.red, input.red, select.red, textarea.red, button.red { border-color: #ae0000; }
a.button, input[type='button'], select, button { background-color: #f2f2f2; }
a.button, input[type='button']:hover, select:hover, button:hover { background-color: #e5e5e5; }
a.button.default, button.default, input[type='button'].default { background-color: #80d3f9; color: inherit; }
a.button { text-decoration: none; color: inherit; }
a.button { text-decoration: none; }
a.button.big { font-size: 24px; padding: 10px 20px; }
p > button, p > input, p > select, p > a.button { margin-right: 5px; }
textarea { resize:vertical; }
input.fullwidth, textarea.fullwidth { width: 100%; }
input.bigwidth, textarea.bigwidth { max-width: 600px; width: 600px; }
textarea.bigheigth { height: 300px; }
input.in-progress, button.in-progress, select.in-progress {
    text-shadow: none;
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
    -pie-background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
    background-repeat: repeat;
    -webkit-background-size: 40px 40px, 100% 100%;
    -moz-background-size: 40px 40px, 100% 100%;
    -ms-background-size: 40px 40px, 100% 100%;
    -o-background-size: 40px 40px, 100% 100%;
    background-size: 40px 40px, 100% 100%;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes { from { background-position: 0 0; } to { background-position: 40px 0; } }
@-moz-keyframes progress-bar-stripes { from { background-position: 0 0; } to { background-position: 40px 0; } }
@keyframes progress-bar-stripes { from { background-position: 0 0; } to { background-position: 40px 0; } }
.switch * { vertical-align: middle;  }
.switch > label { position: relative; display: inline-block; width: 40px; height: 20px; }
.switch > label input { display:none; }
.switch > label div { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0;
                      background-color: #a6a6a6; -webkit-transition: .4s; transition: .4s; }
.switch > label div:before { position: absolute; content: ""; height: 16px; width: 18px; left: 2px; bottom: 2px;
                             background-color: white; -webkit-transition: .3s; transition: .3s; }
.switch > label input:checked + div { background-color: #80d3f9; }
.switch > label input:focus   + div { box-shadow: 0 0 1px #2196F3; }
.switch > label input:checked + div:before { -webkit-transform: translateX(18px); -ms-transform: translateX(18px); transform: translateX(18px); }
.switch > label input:disabled + div:before { opacity: 0; }
.flag * { vertical-align: middle;  }
.flag > label { position: relative; display: inline-block; width: 20px; height: 20px; }
.flag > label input { display:none; }
.flag > label div { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0;
                      background-color: #a6a6a6; }
.flag > label div:before { position: absolute; content: ""; height: 16px; width: 16px; left: 2px; bottom: 2px;
                             background-color: white; opacity: 0; }
.flag > label input:checked + div { background-color: #80d3f9; }
.flag > label input:focus   + div { box-shadow: 0 0 1px #2196F3; }
.flag > label input:checked + div:before { opacity: 1; }
.flag > label input:disabled + div:before { opacity: 0; }
input[type='radio']:not(checked) { position: absolute; opacity: 0; }
input[type='radio']:not(checked) + label { position: relative; padding: 0 0 0 30px; }
input[type='radio']:not(checked) + label:before { content: ''; position: absolute; top: -4px; left: 0;
                                                  width: 20px; height: 20px; background: #a6a6a6; }
input[type='radio']:not(checked) + label:after { content: ''; position: absolute; top: -2px; left: 2px;
                                                 width: 16px; height: 16px; background: #FFF; opacity: 0; }
input[type='radio']:checked + label:before { background: #80d3f9; }
input[type='radio']:checked + label:after { opacity: 1; }
