div.player {
  display: flex;

  height: 70px;

  div.infos {
    div.cover {
      display: inline-block;
      vertical-align: middle;
    }

    div.cover {
      width: 70px;
      height: 70px;

      img {
        width: 70px;
        height: 70px;
      }
    }

  }


  div.controlls {
      @include flex-grow(1);

      color: lighten(black, 60%);

      div.seekbar {
          height: 5px;
          width: 100%;
          background-color: darken(white, 5%);

          span {
              display: block;
              height: 100%;
              content: "";
          }

          span.buffer {
              width: 70%;
              background-color: darken(white, 40%)
          }

          span.current {
              width: 35%;
              margin-top: -5px;
              background-color: darken(yellow, 5%);
          }
      }

      div.wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div.headings {
          display: inline;
          vertical-align: middle;


          margin-top: 7px;
          margin-left: 10px;
          font-size: 16px;

          div.heading {
            display: block;
            font-weight: 400;
            font-size: 20px;
            color: darken(white, 60%);
          }

          div.subheading {
            display: block;
          }
        }

        div.common {

          line-height: 65px;
          text-align: center;


          div {
            display: inline-block;
            width: 65px;
            height:65px;
            font-size: 40px;

            cursor: pointer;

            @include transition(color 0.1s ease-out);

            &:hover {
              color: lighten(black, 40%);
            }
          }

          div.like { font-size: 30px; }
          div.dislike { font-size: 30px; }
        }

        div.volume {
          line-height: 65px;
          text-align: center;

          font-size: 30px;
          width: 65px;
          height:65px;
          cursor: pointer;

          @include transition(color 0.1s ease-out);

          &:hover {
            color: lighten(black, 40%);
          }
        }
      }
  }
}
