* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; background-color: #f6f5f3; overflow: hidden; }

#header, #player { display: none; }

.world { display: inline-block; background-color: #f6f5f3; width: 100%; height: 100%; font-family: Arial, Helvetica,sans-serif;  box-sizing: border-box; padding: 10px 0 41px;}

.container { box-sizing: border-box; background-color: white; max-width: 1440px; height: 100%; margin: 0 auto; box-shadow: 0 0 10px grey;  }

.header { width: 100%; height: 40px; border-bottom: 1px solid #f6f5f3; }

.header .left { height: 100%; float: left; display: inline-block; vertical-align: top;  }
.header .left:hover { color: black; cursor: pointer; }
.header .middle { height: 100%; float: left; width: 100%; margin-top: -40px; text-align: center; display: inline-block; vertical-align: top; }
.header .user { height: 100%; float: right; margin-top: -40px; display: inline-block; vertical-align: top; }

.header .user > div { font-size: 20px; display: inline-block; vertical-align: middle; line-height: 40px; color: #c1c1c1; margin-right: 30px; }
.header .user .username i.fa { margin-right: 10px; }
.header .user .logout:hover, .header .user .username:hover { color: black; cursor: pointer; }

.header .left { font-size: 20px; display: inline-block; vertical-align: middle; line-height: 40px; color: #c1c1c1; margin-left: 30px; }
.header .middle { font-size: 20px; display: inline-block; vertical-align: middle; line-height: 40px; color: #c1c1c1; }

.content { height: 100%; padding-bottom: 78px; box-sizing: border-box; }
.content::after { content: ""; display:block; clear: both; }

.playlist, .events { display: inline-block; vertical-align: middle; }

.playlist { padding: 20px 20px 20px 20px; box-sizing: border-box; width: 100%; height: 100%; overflow-y: scroll; overflow-x: hidden; }

.settings {  }

.settings .settingslist { float: left; overflow: hidden; min-height: 300px; padding-left: 100px; padding-top: 100px; }
.settings .settingslist .setting { font-size: 18px; color: #c1c1c1; margin-bottom: 20px; }
.settings .userlogo { float: right; color: #c1c1c1; width: 300px; min-height: 300px; font-size: 300px; text-align: center; }
.settings .userlogo-name { height:100%; font-size: 30px; color: #c1c1c1; text-align: center; }

.playlist .playingtrack { background-color: #f7f7f7; height: 100px; padding: 5px; border-bottom: 1px dashed #c1c1c1;}
.playlist .playingtrack, .playlist .track { width: 100%; }

.playlist .playingtrack .info { display: inline-block; vertical-align: top;  }
.playlist .playingtrack .cover { display: inline-block; vertical-align: middle; }
.playlist .playingtrack .cover img { border-radius: 6px; display: inline-block; width: 100px; height: 100px; }
.playlist .playingtrack .info { width: 100%; height: 100px; margin-left: 110px; margin-top: -100px; vertical-align: top; }
.playlist .playingtrack .info .title { font-weight: bold; font-size: 18px; }
.playlist .playingtrack .info .about { font-size: 17px; margin-top: 10px; }
.playlist .playingtrack .info .about .author { display: inline-block; color: grey; }
.playlist .playingtrack .info .about .author i.fa { margin-right: 10px; }
.playlist .playingtrack .info .about .controls { display: inline-block; margin-left: 10px; color: grey; }
.playlist .playingtrack .info .about .controls i.fa { margin-right: 10px; }
.playlist .playingtrack .info .about .controls i.fa:last-child { margin-right: 0; }
.playlist .playingtrack .info .about .controls i.fa:hover { cursor: pointer; color: black; }

.playlist .track { height: 50px; margin: 5px 0; }
.playlist .track .cover { width: 50px; height: 50px; display: inline-block; vertical-align: middle; }
.playlist .track .cover img { border-radius: 3px; display: inline-block; width: 50px; height: 50px; }
.playlist .track .info { width: 100%; height: 100px; margin-left: 60px; margin-top: -50px; vertical-align: top; }
.playlist .track .info .title { font-weight: bold; font-size: 15px; }
.playlist .track .info .about { font-size: 15px; margin-top: 5px; }
.playlist .track .info .about .author { display: inline-block; color: grey; }
.playlist .track .info .about .author i.fa { margin-right: 10px; }
.playlist .track .info .about .controls { display: inline-block; margin-left: 10px; color: grey; }
.playlist .track .info .about .controls i.fa { margin-right: 10px; }
.playlist .track .info .about .controls i.fa:last-child { margin-right: 0; }
.playlist .track .info .about .controls i.fa:hover { cursor: pointer; color: black; }
.events { float: right; width: 300px; border-left: 1px solid #f6f5f3; padding: 10px; overflow-y: scroll; }

.messagebox { margin-top: 15px; }
.messagebox .avatar { width: 40px; height: 40px; display: inline-block; vertical-align: top; }
.messagebox .avatar img { border-radius: 3px; display: inline-block; width: 40px; height: 40px; }
.messagebox .info { display: inline-block; vertical-align: top; width: 250px; color: #505050 }
.messagebox .info .username { font-weight: bold; font-size: 14px; }
.messagebox .info .message { margin-top: 4px; font-size: 13px; }

.player { position: fixed; bottom: 0px; width: 100%; max-width: inherit; box-shadow: 0 0px 10px grey; }
.player .ctrlpanel { width: 100%;  height: 60px; background-color: white;  padding-top: 8px; }

.ctrlpanel .current { height: 100%; float: left; display: inline-block; vertical-align: top; }
.ctrlpanel .controlls { height: 100%; float: left; width: 100%; margin-top: -60px; text-align: center; display: inline-block; vertical-align: top; }
.ctrlpanel .volume { height: 100%; float: right; margin-top: -60px; display: inline-block; vertical-align: top; }

.player .seekbar { background-color: white; bottom: 60px; width: 100%; max-width: inherit; height: 8px; background-color: #ebebeb;  }
.seekbar .preload { background-color: #c1c1c1; height: 100%; width: 0%; }
.seekbar .position { background-color: #ffcc00; height: 100%; width: 0%; margin-top: -8px; }

.controlls .dislike, .controlls .pause, .controlls .like { display: inline-block; vertical-align: middle; line-height: 60px; color: #c1c1c1; margin: 0 10px; }
.controlls .dislike:hover, .controlls .pause:hover, .controlls .like:hover { color: black; cursor: pointer; }
.controlls .dislike, .controlls .like { font-size: 25px; width: 30px; }
.controlls .pause { font-size: 35px; width: 40px; }

.current .wrap { padding: 5px 5px 5px 15px; }
.current .cover { width: 50px; height: 50px; display: inline-block; vertical-align: middle; }
.current .cover img { border-radius: 3px; }
.current .info { display: inline-block; vertical-align: middle; }
.current .info .title { font-weight: bold; }
.current .info .artist {}

.volume { font-size: 25px; display: inline-block; vertical-align: middle; line-height: 60px; color: #c1c1c1; margin-right: 25px; }
.volume:hover { color: black; cursor: pointer; }
.hidden { display: none; }
